.App {
  text-align: center;
}

h1 {
  font-family: cursive;
}

input {
  height: 40px;
  width: 400px;
  margin: 10px;
  font-size: 20px;
  font-family: cursive;
  border-radius: 10px;
  padding-left: 10px; 
  border-color: blueviolet;
  border-style:dashed;
}

button {
  height: 42px;
  width: 117px;
  margin: 10px;
  color: white;
  font-size: 15px;
  font-family:cursive;
  border: none;
  border-radius: 8px;
}

#Add{
  background-color: rgb(245, 152, 30);
}
#del{
  background-color: rgb(248, 124, 79);
}
#comp{
  background-color: rgb(97, 150, 12);
}

button:hover {
  cursor: pointer;
}

ul {
  display: grid;
  place-items: center;
}

li {
  list-style-type: none;
  height: 30px;
  width: 500px;
  margin: 10px;
  background-color: #67f1a5;
  color: rgb(117, 118, 119);
  font-family: cursive;
  font-size: 25px;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#ToDo {
  display: flex;
  align-items: center;
}

h3{
  margin-left: 10px;
  font-family: cursive;
  font-size: 18px;
}

